#PROFIL_status {
  width: 90%;
  margin: auto;
  display: table-caption;
}

.INFO_prazallnik {
  color: cadetblue;
  font-size: large;
}

#Profil_PIC_in_mdl {
  width: auto;
  max-height: 200px;
  margin: auto;
  display: table-caption;
  border-radius: 50%;
}

#INPUT_TXT_CONTACTO {
  width: 70%;
  text-align: center;
  margin-bottom: 15px;
}

#re_snd_email {
  width: auto;
}

#BuyDolarce {
  width: auto;
  float: right;
  position: inherit;
}
